a{
    color: rgba(0, 2, 97, 0.692);
    font: 18px Helvetica;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}
body{
    background: #d2d2c1 url("../Assets/fundo.png");
}
#principal{
    width: 900px;
}
#menu{
    background: #c5c5b2;
    padding: 5px;
}
.box{
    background:#e8e8d9;
    padding: 10px;

}
.text{
  margin: 10px;
  color: rgb(230, 205, 173);
    font: 23px Arial;
}

#rodape{
    font: 900 15px 'Tahoma'; ;
}
.centralizar{
    text-align: center;
}
