a{
    color: rgba(0, 2, 97, 0.692);
    font: 18px Helvetica;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}
body{
    background: #d2d2c1 url("../Assets/fundo.png");
    font:16px Arial,Helvetica,sans-serif  ;
   
}
#principal{
    width: 900px;
}
#menu{
    background: #c5c5b2;
    padding: 5px;
}
.box{
    background:white;
    padding: 10px;

}
.text{
  margin: 10px;
  color: rgb(230, 205, 173);
    font: 23px Arial;
}

#rodape{
    font: 900 15px 'Tahoma'; 
    text-align: center;

}

h1{
    color: #828271;
    font-size: 1.2em;
}
.img-campanha{
    border: 10px solid #cacab4  ;
}
