a{
    margin: 20px ;
    color: rgba(0, 2, 97, 0.692);
    font: 900 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
body{
    background: #d2d2c1 url("../Assets/fundo.png");
}
#principal{
    width: 900px;
}
.boxwhite{

background: white;
}
.text{
    margin: 10px ;
}
.descrição{
    font: 200 25px "Arial"; ;
    color: grey;
   
}
.rodape{
    
    font: 900 15px 'Tahoma'; ;
}
